In [1]:
#selecting data for modeling
import pandas as pd
malbourne_data=pd.read_csv('C:/Users/Akib/Desktop/mhp/mphp.csv')
malbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Postcode', 'Regionname', 'Propertycount', 'Distance',
       'CouncilArea'],
      dtype='object')

In [2]:
# The Melbourne data has some missing values (some houses for which some variables weren't recorded.)
# We'll learn to handle missing values in a later tutorial.  
# Your Iowa data doesn't have missing values in the columns you use. 
# So we will take the simplest option for now, and drop houses from our data. 
# Don't worry about this much for now, though the code is:

# dropna drops missing values (think of na as "not available")
malbourne_data = malbourne_data.dropna(axis=0)

# Selecting The Prediction Target

In [4]:
y=malbourne_data.Price

In [5]:
y

0        1490000.0
1        1220000.0
2        1420000.0
3        1515000.0
4         670000.0
5         530000.0
6         540000.0
7         715000.0
9        1925000.0
10        515000.0
11        717000.0
12       1675000.0
13       2008000.0
14        860000.0
16        720000.0
17        836000.0
18       2110000.0
19       1386000.0
20        580000.0
21        355000.0
22       1123100.0
23       1270000.0
25       1610000.0
26       1435000.0
27       1431000.0
28        996000.0
30        825000.0
31        660800.0
32        700000.0
33       2700000.0
           ...
62985    1700000.0
62986    1100000.0
62987     785000.0
62988    1115000.0
62989     570000.0
62990     870000.0
62991    2400000.0
62993    1000000.0
62994     640000.0
62995     520600.0
62997     410000.0
62998     400000.0
63000     416000.0
63002     745000.0
63003     655000.0
63004     870000.0
63005     495000.0
63006    1000000.0
63007     410000.0
63009     736000.0
63011     595000.0
63012     375000.0
63013     710000.0
63014     345000.0
63015     340000.0
63016     347700.0
63017     808000.0
63018     566000.0
63019     500000.0
63020     545000.0
Name: Price, Length: 48433, dtype: float64

# Choosing "Features"

In [6]:
malbourne_features=['Rooms', 'Type', 'Price', 'Method', 'SellerG']

In [7]:
X=malbourne_data[malbourne_features]

In [8]:
X

       Rooms Type      Price Method        SellerG
0          3    h  1490000.0      S         Jellis
1          3    h  1220000.0      S       Marshall
2          3    h  1420000.0      S         Nelson
3          3    h  1515000.0      S          Barry
4          2    h   670000.0      S         Nelson
5          2    t   530000.0      S         Jellis
6          2    u   540000.0      S          Barry
7          3    h   715000.0     SP         Nelson
9          3    h  1925000.0      S         Cayzer
10         3    u   515000.0      S        Douglas
11         4    h   717000.0      S          Bells
12         2    h  1675000.0      S          Miles
13         4    h  2008000.0      S         Jellis
14         2    h   860000.0     SP         Barlow
16         3    h   720000.0      S         Hunter
17         2    u   836000.0      S         Jellis
18         2    h  2110000.0      S         Jellis
19         3    h  1386000.0      S       Marshall
20         2    u   580000.0     VB  hockingstuart
21         1    u   355000.0      S  hockingstuart
22         3    h  1123100.0      S            Ray
23         3    u  1270000.0      S      Fletchers
25         3    t  1610000.0      S         Jellis
26         4    h  1435000.0      S            Ray
27         4    h  1431000.0      S  hockingstuart
28         4    h   996000.0      S            Ray
30         4    h   825000.0     SP  hockingstuart
31         2    u   660800.0     SP      Fletchers
32         2    t   700000.0     PI         Walshe
33         5    h  2700000.0     PI  hockingstuart
...      ...  ...        ...    ...            ...
62985      4    h  1700000.0     VB      Harcourts
62986      3    h  1100000.0      S      Harcourts
62987      4    h   785000.0      S  hockingstuart
62988      2    h  1115000.0      S       Williams
62989      2    u   570000.0      S             RT
62990      3    h   870000.0     VB          Raine
62991      3    h  2400000.0     VB            S&L
62993      2    h  1000000.0     VB         Beller
62994      3    h   640000.0      S            HAR
62995      4    h   520600.0      S      Stockdale
62997      3    h   410000.0      S  hockingstuart
62998      3    h   400000.0     SP          Barry
63000      3    h   416000.0      S        Sweeney
63002      3    t   745000.0      S     Buckingham
63003      3    t   655000.0      S     Buckingham
63004      2    h   870000.0     SP            Jas
63005      2    u   495000.0     SP        Village
63006      3    h  1000000.0     SP            Jas
63007      2    u   410000.0     SP        Sweeney
63009      3    h   736000.0     SP         Biggin
63011      3    h   595000.0     PI          REMAX
63012      2    u   375000.0     SP         Aquire
63013      5    h   710000.0     PI  hockingstuart
63014      2    u   345000.0     SP         Aquire
63015      2    u   340000.0     SP         Aquire
63016      2    u   347700.0     SP         Aquire
63017      3    h   808000.0      S             RW
63018      3    h   566000.0      S          Raine
63019      3    h   500000.0      S          Raine
63020      3    h   545000.0      S          Raine

[48433 rows x 5 columns]

In [9]:
X.describe()

              Rooms         Price
count  48433.000000  4.843300e+04
mean       3.071666  9.978982e+05
std        0.944708  5.934989e+05
min        1.000000  8.500000e+04
25%        2.000000  6.200000e+05
50%        3.000000  8.300000e+05
75%        4.000000  1.220000e+06
max       31.000000  1.120000e+07

In [10]:
X.head(10)

    Rooms Type      Price Method   SellerG
0       3    h  1490000.0      S    Jellis
1       3    h  1220000.0      S  Marshall
2       3    h  1420000.0      S    Nelson
3       3    h  1515000.0      S     Barry
4       2    h   670000.0      S    Nelson
5       2    t   530000.0      S    Jellis
6       2    u   540000.0      S     Barry
7       3    h   715000.0     SP    Nelson
9       3    h  1925000.0      S    Cayzer
10      3    u   515000.0      S   Douglas

# Building  Model

In [18]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
malbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
malbourne_model.fit(X,y)

ValueError: could not convert string to float: 'h'

In [15]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(malbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms Type      Price Method   SellerG
0      3    h  1490000.0      S    Jellis
1      3    h  1220000.0      S  Marshall
2      3    h  1420000.0      S    Nelson
3      3    h  1515000.0      S     Barry
4      2    h   670000.0      S    Nelson
The predictions are

NotFittedError: This DecisionTreeRegressor instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.